

#container {
	width: auto;
	height: 90%;
}

#bone{
	position: absolute;
	left: 200px;
}


#line {
	position: absolute;
	right: 2px;
	top: 60px;
	width: 10%;
	height: 5%
}

#ball{
	position: absolute;
	left : 285px;
	/*-webkit-transform: rotate(20deg);*/
}